/* Universal styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: horizontal;
}

a {
  color: seashell;
}

/* Header styles */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

nav span {
  padding-right: 30px;
}

/* Main Container */

.content {
  display: flex;
  padding-top: 70px;
}

.mission {

  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
}

.mission-image-content {
  margin-top: 300px;
  display: block;
  text-align: center;
  background-color: black;
}
