/* Universal styles */

body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: horizontal;
}

a {
  color: seashell;
}

/* Header styles */

header {
  display: flex;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: black;
  height: 69px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

nav span {
  padding-right: 30px;
}

/* Main Container */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
  border: 4px solid purple;
}

/* Mission Section */

.mission {
  border: 2px solid blue;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
}

.mission-image-content {
  border: 2px solid green;
  margin-top: 300px;
  display: block;
  text-align: center;
  background-color: black;
}

/* Tea of the Month Section */

.tea-of-the-month {
  max-width: 1000px;
  margin: 0 auto;
}

.tea-of-the-month h2, .tea-of-the-month h4 {
  padding: 0;
  text-align: center;
}

.tea-options {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tea img {
  height: 200px;
  width: 300px;
  margin: 0;
}

.tea h4 {
  text-align: center;
}

/* Location Section */

.information {
    height: 500px;
    width: 1200px;
    opacity: 1;
    margin: 0 auto;
    text-align: center;
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.locations {
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.location {
    padding: 10px;
    background-color: black;
    opacity: 1;
    flex-basis: 300px;
    margin: 0 20px;
}
